.course {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 0.5rem;
    margin: 1.5rem;
}
@media (max-width: 600px) {
    .course {
        margin: 1.5rem auto;
    }
}


a {
    text-decoration: none;
}

.courseName, .courseTeacher {
    margin: 1rem 0 1rem 1rem;
    display: inline-block;
    padding: 0 0.25rem 0 0.25rem;
    z-index: 2;
    color: inherit;
}

.courseName:hover {
    text-decoration: underline;
    cursor: pointer;
}

.courseName {
    text-decoration: none;
    font-size: 1.375rem;
    line-height: 1.75rem;
}

.courseTeacher {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    position: relative;
}

.courseTeacher:hover {
    text-decoration: underline;
}

.tripleDotsIcon {
    color: white;
    z-index: 99;
}

.topDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emptySpace {
    width: 18.75rem;
    height: 9.5rem;
    border: 0.0625rem solid rgb(218, 220, 224);
}

.additionalInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    width: 18.75rem;
    border-right: 0.0625rem solid rgb(218, 220, 224);
    border-left: 0.0625rem solid rgb(218, 220, 224);
    border-bottom: 0.0625rem solid rgb(218, 220, 224);
}

.folderIcon {
    margin: 1rem;
    cursor: pointer;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.75rem;
    height: 6.25rem;
}

.but {
    background: none;
    border: none;
    margin-right: 0.5rem;
    z-index: 99;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.but:hover {
    cursor: pointer;
    background: rgba(1, 1, 1, 0.1);
}
