.button {
    background: inherit;
    border: none;
    margin: 0 2rem 0 1rem;
    padding: 0;
    width:40px;
    height: 40px;
    border-radius: 50%;
}
.button:hover {
    background: rgba(0,0,0,0.1);
    cursor:pointer;
}
svg {
    margin:0;
    padding: 0;
}