.main {
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.courseImageContainer {
    position: relative;
    width: 100%;
    height: 20rem;
    background-image: url('../images/anime.jpg');
    border-radius: 0.5rem;
}

.courseNameContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.courseName {
    color: white;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 100%;
}

.events {
    display: flex;
    flex-direction: column;
    height: 5.75rem;
    border: 0.0625rem solid rgb(218, 220, 224);
    border-radius: 1rem;
    padding: 1rem;
}

.eventsItem {
    flex-basis: 33%;
}

.eventName {
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
}

.eventDate {
    color: lightslategray;
    line-height: 1.25rem;
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .549);
}

.viewBut {
    display: flex;
    justify-content: flex-end;
}

.aText {
    text-decoration: none;
    color: #2962ff;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    white-space: nowrap;
}

.viewContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem 0 0.5rem;
    margin-right: -0.5rem;
    flex-basis: 33%;
}

.viewLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
}

.viewLink:hover {
    background-color: rgba(25, 103, 210, 0.1);
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-left: 2rem;
}

.task {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border: 0.0625rem solid rgb(218, 220, 224);
    border-radius: 1rem;
}

.defaultIcon {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(66, 133, 244);
    margin: 0 1rem 0 1rem;
}

.defaultIcon svg {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    color: white;
    fill: white;
}

.announce {
    cursor: pointer;
    box-shadow: 2px 2px rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.announceText {
    display: inline-block;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 50vw;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .549);
}

.announceText:hover {
    color: rgb(66, 133, 244);
}

.tripleDotsIcon {
    cursor: pointer;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.tripleDotsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.taskContainer {
    display: flex;
}

.taskContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskText {
    display: inline-block;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    width:40vw;
}

.taskDate {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}

.taskLink {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 2;
}

.but {
    position: relative;
    background: none;
    border: none;
    margin-right: 0.5rem;
    z-index: 99;
    width: 32px;
    height: 38px;
    border-radius: 50%;
}

.but:hover {
    box-sizing: content-box;
    cursor: pointer;
    background: rgba(1, 1, 1, 0.1);
}
.distance {
    width:10vw;
}
@media (max-width: 1040px) {
    .events {
        display: none;
    }
    .tasks {
        padding: 0;
    }
    .distance {
        width: 10vw;
    }
}
