.navbar {
    display:flex;
    width:100%;
    height: 4rem;
    background-color: white;
    border-bottom: 0.0625rem solid rgb(218,220,224);
    position: sticky;
    top:0;
    left:0;
    z-index: 999;
}
.leftNav {
    display:flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-start;
}
.rightNav {
    flex-basis: 50%;
}
.logoText{
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: "Roboto Light", serif;
    font-weight: 600;
    background: -webkit-linear-gradient(#4e70f7, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.logoLink {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height:100%;
    align-items: center;
    justify-content: center;
}