.sidebar {
    height: calc(100lvh - 4.05rem);
    border-right: 0.0625rem solid rgb(218,220,224);
    position: sticky;
    top:4.05rem;
    left:0;
    z-index: 1000;
    transition: linear all .1s;
    background: white;
}

.items {
    font-size: 1.5rem;
    padding-block: 1rem;
    width: 100%;
    border-bottom: 0.0625rem solid rgb(218,220,224);
}

.item {
    /*margin-right: 1rem;*/
    display: flex;
    min-height: 2.5rem;
    align-items: center;
    border-radius: 0 2rem 2rem 0;
    padding-block: 0.25rem;
    padding-left: 0.25rem;
    text-decoration: none;

}
.item:hover {
    background-color: #9a9ca72F;
}

.item svg {
    padding: 0 0.5rem 0 1rem;
}


.item span {
    text-decoration: none;
    color: #000;
}

.focus {
    background-color: #e8ecfc !important;
}

.text {
    line-height: 1.25rem;
    font-size: 0.875rem;
}

.courseIcon {
    transition-property: none !important;
}